<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Bug Tracker</display-name>

    <listener>
        <listener-class>ru.hse.esadykov.ContextListener</listener-class>
    </listener>

    <!--<context-param>-->
        <!--<param-name>connection_host</param-name>-->
        <!--<param-value>localhost</param-value>-->
    <!--</context-param>-->
    <!--<context-param>-->
        <!--<param-name>connection_port</param-name>-->
        <!--<param-value>3306</param-value>-->
    <!--</context-param>-->

    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>ru.hse.esadykov.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Bugs</servlet-name>
        <servlet-class>ru.hse.esadykov.servlets.BugListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bugs</servlet-name>
        <url-pattern>/bugs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Bug</servlet-name>
        <servlet-class>ru.hse.esadykov.servlets.BugServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bug</servlet-name>
        <url-pattern>/bug/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>ru.hse.esadykov.servlets.DBConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>

</web-app>
